* {
    margin: 0;
    padding: 0;
}

.colorPink {
    color: #e34d73;
    border: #e34d73 solid 1px;
    border-radius: 20px;
    padding: 14px 27px;
}

.user {
    color: white;
    background-color: #76777a;
    border-radius: 5px;
    padding: 14px 10px;
}

.width30percent {
    width: 30%;
}

#wrapper {
    display: flex;
}

#panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 6%;
    border-right: gray groove 1px;
}

#panel_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

#panel_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-around;
    width: 67%;
    border-right: gray groove 1px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 91%;
}

#container>div {
    margin: 20px 0px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendar {
    display: flex;
    align-items: center;
}

#small_pic {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}

button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 14px 27px;
}

#chatbox {
    display: flex;
    flex-direction: column;
    width: 27%;
}

#participants {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
}

.twoCol {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}

.time_color {
    color: #9095a0;
    font-weight: normal;
}